.navbar-header{
   left: 50%;
   position: relative;
   transform: translateX(-50%);
}

li {
  padding-right: 30px;
}

.player {
  border: 5px solid #B22222;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
