{{!-- The following component displays Ember's default welcome message. --}}

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-header">
    <a class="brand navbar-brand">TYPER</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a>Chat</a></li>
  </ul>
</nav>

<h1 align="center">TYPER</h1>

<!-- player labels -->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1 align="center">PARAGRAPH</h1>
      </div>
      <div class="col-sm-4">
        <iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A2PXdUld4Ueio2pHcB6sM8j&theme=white" width="400" height="200" frameborder="0" allowtransparency="true"></iframe>
        <p align="center">{{x-timer autoStart='true' format='HH:MM:SS' stopRequired=false}}</p>
      </div>
      <div class="col-sm-4">
        <h1 align="center">PARAGRAPH</h1>
      </div>
    </div>
</div>

<!-- player labels -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h1 align="center">Player 1</h1>
      </div>
      <div class="col-lg-6">
        <h1 align="center">Player 2</h1>
      </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
      <div id="player1" class="player col-lg-6">
      </div>
      <div id="player2" class="player col-lg-6">
      </div>
    </div>
</div>
{{outlet}}
